/* Global setup */

* {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  height: 100%;

  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

.main-frame {
  aspect-ratio: 54 / 41;
  width: min(100vw, 100vh * 54 / 41);
  max-height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

/* Templates */

.flex-column {
  display: flex;
  flex-direction: column;
}